
body {
    background-image: url("photographer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form {
    width: 700px;
}

.form-input {
    width: 300px;
    height: 35px;
    font-size: medium;
    border-radius: 10ic;
    text-align: center;
    margin: 10px;
    background-color: rgb(221, 212, 212);
    border: none;
}
.form-input-p {
    width: 100px;
    height: 25px;
    font-size: medium;
    border-radius: 10ic;
    text-align: center;
    margin: 10px;
    background-color: rgb(221, 212, 212);
    border: none;
}

.form-table {
    background-color: white;
    align-content: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 20%;
}

.booking-cta {
    float: right;
    padding: 20px;
    width: 670px;
    height: 300px;
    margin-top: auto;
}
.content-p{
    background:rgb(221, 212, 212);
    width: 500px;
    height: 250px;
    margin-top: auto;
    margin-bottom: 20%;
}
.submit-btn {
    display: inline-block;
    color: black;
    background-color: rgb(221, 212, 212);
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.form-td {
    width: 150px;
    text-align: center;
    padding: 5px;
}
