/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #808080;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu2 {
    display: flex;
    gap: 20em;
    font-size: 18px;
    align-items: center;
    font-weight: bold;
}

.menu4 {
    display: flex;
    gap: 1em;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid cadetblue;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 5px;
    background-color: cadetblue;
    cursor: pointer;

}

.menu5 {
    display: flex;
    gap: 1em;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid cadetblue;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 5px;
    background-color: cadetblue;
    cursor: pointer;

}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {

    padding: 5px 14px;

}

.logo {
    font-size: 30px;
}


.footer {
    justify-content: space-between;
    padding: 10px;
    background-color: #808080;
    color: #fff;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid #eee;

    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

}


.p_f {
    color: white;
    text-align: center;
}


.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, ), rgba(0, 0, 0, 0.5)50%, url(bgpic.jpg);
}

#aa {
    display: block;
    width: 93%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}